html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", serif;
  line-height: 1.6;
  overflow-x: hidden;
}
/*Navigation*/
.nav-container {
  position: relative;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 3%;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.nav li {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  margin-left: 50px;
}
.nav a:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
.burger {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 30px;
  background-color: white;
  border-radius: 5px;
  color: rgb(26, 26, 29);
  cursor: pointer;
  z-index: 1000;
}


/* end of navigation */


#particles-js {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Behind other elements */
  background: linear-gradient(to bottom, rgb(23, 23, 24), rgb(26, 26, 29));
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(26, 26, 29), rgb(32, 32, 36));
}

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(32, 32, 36), rgb(46, 48, 51));
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(46, 48, 51), rgb(52, 54, 58));
}



#contact {
  
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgb(60, 62, 66),
    rgb(23, 23, 24)
  ); /* Loop back to #particles-js */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgb(23, 23, 24),
    rgb(0, 0, 0)
  ); /* Loop back to #particles-js */
}
.footer div{
  display: flex;
  justify-content: center;
  align-items:center;
}

.intro {
  position:absolute;
  width: 45%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0); /* Semi-transparent black */
  z-index: 0; /* Above the animated background */
  margin-top: 12%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100px;
  text-align: left;
  color: white;
}
.intro h1 {
  color: rgb(230, 98, 98);
  font-size: 4rem;
}
.intro h2 {
  color: rgb(201, 51, 51);
  font-size: 2rem;
}
.socials {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-align: center;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 2%;
  padding: 0;
}
.socials li {
  margin-top: 10px;
}

.vertical-line {
  border-radius: 10px;
  width: 3px; /* Adjust the thickness */
  height: 100px; /* Adjust the height */
  background-color: white; /* Line color */
  margin: auto; /* Optional: Add spacing around the line */
  margin-top: 20px;
}
.email {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-align: center;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 2%;
  padding: 0;
}
.email a {
  text-decoration: none;
}

.gmail {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(206, 55, 55);
  writing-mode: vertical-rl;
  transition: color 0.3s ease, transform 0.3s ease;
}
.gmail:hover {
  color: rgb(230, 98, 98);
}
.find {
  background-color: rgb(201, 51, 51);
  border-radius: 10px;
  width: 11rem;

  margin-bottom: 3rem;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.find:hover {
  background-color: rgb(255, 255, 255);
}
.find a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.find a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mePic {
  background-image: url(images/me.jpg);
  background-size: cover;
  width: 18vw;
  height: 40vh;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.aboutMeInfo {
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
  color: white;
}

.projectContainer{
  display: flex;
  justify-content:space-around;
  align-items:center;
  width:65%;
  height:50%;
  margin-top:3%;
}
.project{
  width:30%;
  height:100%;
  border-radius: 10%;;

  box-shadow: 0 4px 6px rgba(0.3, 0.3, 0.3, 0.3); /* Normal shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
}
.project:hover{
  transform: translateY(-10px); /* Lift effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Bigger shadow */
}
.p1{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:50%;
  border-top-left-radius: 10%;
  border-top-right-radius:10% ;
  background-color: rgb(77, 72, 71);
  border-bottom: 5px solid  rgb(160, 86, 73);
}

.p2{
  display: flex;
  
  flex-direction: column;
  align-items: center;
  color: white;
  width:100%;
  height:50%;
  background-color: rgb(65, 65, 68);
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;

}
.p2 p{
  margin-top:10%;
  font-size:14px;
  padding-left: 30px;
  padding-right: 30px;



}
.p2 a{
  font-size:14px;
  color: rgb(206, 55, 55);
  font-weight: bold;
  text-decoration: none;
}
.p2 a:hover{

  text-decoration:underline ;
}
.skillsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 40%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Bigger shadow */
  background-color: rgb(65, 65, 68);
  border: 4px solid rgb(160, 86, 73);
  border-radius: 2%;
  margin-top: 8%;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  gap: 10px; /* Add spacing between items */
}

.contS {
  position: relative;
  text-align: center;
  width: 80vw;
  height: 65%;
  flex: 1 1 100px; /* Allow flexibility in width */
  max-width: 150px; /* Set a maximum width */
}
#skills {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:50vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgb(52, 54, 58),
    rgb(60, 62, 66)
  ); /* Unique gradient for #skills */
}
/* Media Queries for Responsiveness */




.skillsContainer img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.skillsContainer img:hover {
  transform: translateY(+8px);
}

.tooltip {
  position: absolute;
  bottom: 110%; /* Position above the parent */
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  background-color: #ffffff;
  color: #3f3838;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  opacity: 0;
  visibility: hidden;
  flex-wrap:wrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contS:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent; /* Arrow pointing down */
}

@media (min-width: 340px) and (max-width:414px){

  .p2 p{
    margin-top:5%;
    font-size:6px;
    padding-left: 3px;
    padding-right: 3px;
  
  
  
  }
  .p2 a{
    font-size:10px;
    color: rgb(206, 55, 55);
    font-weight: bold;
    text-decoration: none;
  }

  .tooltip {
    position: absolute;
    bottom: 110%; /* Position above the parent */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px;
    background-color: #ffffff;
    color: #3f3838;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    flex-wrap:wrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  

  #skills {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;

  }

  .socials{
    visibility: hidden;
  }
  .email{
    visibility: hidden;
  }
  .find {
    background-color: rgb(201, 51, 51);
    border-radius: 10px;
    width: 5rem;
    margin-top: 1rem;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .burger {
    display: block;
  }

  .nav {
    position:relative;
    display: none;
    flex-direction: row;
    justify-content:flex-end;
    margin-right: 1%;
    position: fixed;
    top: 50px;
    right:0px;
    width: 85vw;
    background-color:rgb(230, 98, 98);
    z-index: 1;
    border-radius: 5px;
  }

  .nav.active {
    display: flex;
  }

  .nav li {
    
    margin-bottom: 10px ;
    margin-right: 0px;
  }

  
  .nav a {
    text-decoration: none;
    color: white;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .nav li {
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-left: 20px;
    padding-right:20px;
  }

  .nav a:hover {
    width:100%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
  }
  .intro {
    position: absolute;
    width: 80%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent black */
    z-index: 2; /* Above the animated background */
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 25%;
    margin-bottom: 100px;
    text-align: left;
    color: white;
  }
  .intro p{
    font-size: 9px;
  }
  .intro h1 {
    color: rgb(230, 98, 98);
    font-size: 24px;
  }
  .intro h2 {
    color: rgb(201, 51, 51);
    font-size: 20px;
  }

  #about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(26, 26, 29), rgb(32, 32, 36));
  }
  #about h1{
    font-size: 15px;
  }
  .mePic {
    background-image: url(images/me.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 5%;
  }
  .aboutMeInfo {
    margin-bottom: 10%;
    margin-left: 5%;
    width: 80%;
    height: 30%;
    font-size: 8px;
    color: white;
  }
  .gmail {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(206, 55, 55);
    writing-mode: vertical-rl;
    transition: color 0.3s ease, transform 0.3s ease;
  }
 

  
  #projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(46, 48, 51), rgb(52, 54, 58));
  }
  
  .projectContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    width:60%;
    height:80%;
    margin-top:3%;
  }
  .project{
    width:80%;
    margin-bottom:20px;
    height:90%;
    border-radius: 10%;;
  
    box-shadow: 0 4px 6px rgba(0.3, 0.3, 0.3, 0.3); /* Normal shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
  }
  #projects h1{
    font-size: 20px;margin-top:100px;
  }
  .project:hover{
    transform: translateY(-10px); /* Lift effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Bigger shadow */
  }
  .p1{
    width:100%;
    height:50%;
    border-top-left-radius: 10%;
    border-top-right-radius:10% ;
    background-color: rgb(77, 72, 71);
    border-bottom: 5px solid  rgb(160, 86, 73);
  }
  .p2{
    width:100%;
    height:50%;
    background-color: rgb(65, 65, 68);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
  
  }
  
  .skillsContainer {
    display: flex;
    margin-top:10px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Bigger shadow */
    background-color: rgb(65, 65, 68);
    border: 4px solid rgb(160, 86, 73);
    border-radius: 2%;
    margin-top: 8%;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    gap: 10px; /* Add spacing between items */
  }
 
  .contS {
    position: relative;
    text-align: center;
    width: 10%;
    height: 10%;
    flex: 1 1 100px; /* Allow flexibility in width */
    max-width: 150px; /* Set a maximum width */
  }

  
  .skillsContainer img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
  }
  
  .skillsContainer img:hover {
    transform: translateY(+8px);
  }

}

@media (min-width: 415px) and (max-width:760px){

  .p2 p{
    margin-top:5%;
    font-size:8px;
    padding-left: 5px;
    padding-right: 5px;
  
  
  
  }
  .p2 a{
    font-size:10px;
    color: rgb(206, 55, 55);
    font-weight: bold;
    text-decoration: none;
  }
  .tooltip {
    position: absolute;
    bottom: 110%; /* Position above the parent */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px;
    background-color: #ffffff;
    color: #3f3838;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    flex-wrap:wrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  #skills {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;

  }

  .socials{
    visibility: hidden;
  }
  .email{
    visibility: hidden;
  }
  .find {
    background-color: rgb(201, 51, 51);
    border-radius: 10px;
    width: rem;
    margin-top: 1rem;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .burger {
    display: block;
  }

  .nav {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    right:0;
    width: 100px;
    background-color:rgb(230, 98, 98);
    z-index: 1;
    border-radius: 5px;
  }

  .nav.active {
    display: flex;
  }

  .nav li {

    margin-bottom: 10px ;
    margin-right: 80px;
  }

  .intro {
    position: absolute;
    width: 80%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent black */
    z-index: 2; /* Above the animated background */
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 25%;
    margin-bottom: 100px;
    text-align: left;
    color: white;
  }
  .intro p{
    font-size: 8px;
  }
  .intro h1 {
    color: rgb(230, 98, 98);
    font-size: 24px;
  }
  .intro h2 {
    color: rgb(201, 51, 51);
    font-size: 20px;
  }

  #about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(26, 26, 29), rgb(32, 32, 36));
  }
  #about h1{
    font-size: 15px;
  }
  .mePic {
    background-image: url(images/me.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 5%;
  }
  .aboutMeInfo {
    margin-bottom: 10%;
    margin-left: 5%;
    width: 80%;
    height: 30%;
    font-size: 8px;
    color: white;
  }
  .gmail {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(206, 55, 55);
    writing-mode: vertical-rl;
    transition: color 0.3s ease, transform 0.3s ease;
  }
 

  
  #projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(46, 48, 51), rgb(52, 54, 58));
  }
  
  .projectContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    width:60%;
    height:80%;
    margin-top:3%;
  }
  .project{
    width:80%;
    margin-bottom:20px;
    height:90%;
    border-radius: 10%;;
  
    box-shadow: 0 4px 6px rgba(0.3, 0.3, 0.3, 0.3); /* Normal shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
  }
  #projects h1{
    font-size: 20px;margin-top:100px;
  }
  .project:hover{
    transform: translateY(-10px); /* Lift effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Bigger shadow */
  }
  .p1{
    width:100%;
    height:50%;
    border-top-left-radius: 10%;
    border-top-right-radius:10% ;
    background-color: rgb(77, 72, 71);
    border-bottom: 5px solid  rgb(160, 86, 73);
  }
  .p2{
    width:100%;
    height:50%;
    background-color: rgb(65, 65, 68);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
  
  }
  
  .skillsContainer {
    display: flex;
    margin-top:10px;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Bigger shadow */
    background-color: rgb(65, 65, 68);
    border: 4px solid rgb(160, 86, 73);
    border-radius: 2%;
    margin-top: 8%;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    gap: 10px; /* Add spacing between items */
  }
 
  .contS {
    position: relative;
    text-align: center;
    width: 10%;
    height: 10%;
    flex: 1 1 100px; /* Allow flexibility in width */
    max-width: 150px; /* Set a maximum width */
  }

  
  .skillsContainer img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
  }
  
  .skillsContainer img:hover {
    transform: translateY(+8px);
  }

}
